.list
	width 80%
	margin auto

.video-result
	display flex
	align-items center
	word-wrap break-word

	img
		width 30%

	.video-title
		margin-left 10px
		width 65%
		float right
		height 125px
		display flex
		flex-direction column
		justify-content center

		.video-title-text
			font-size 16px
			@media screen and (max-width: 600px)
				font-size 30px
			word-wrap break-word
			width 100%
