.item-container
  overflow-y scroll

  .item
    display flex
    align-items center
    height 100px
    border 1px solid white
    padding 20px
    margin 20px

    .item-name
      width 90%

    .item-type
      width 10%

      .type-icon
        height 50px !important
        width 50px !important
